<% if(error_msg_posts != ''){ %>
    <div class="alert alert-danger alert-dismissible fade post show" role="alert">
    <%= error_msg_posts %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <% } %>