<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="big-container">
        <div>
            <h1 class="thankYou Note">Thanks for using PDFly</h1>
            <span>You can download your file from here: </span>
            <a href="/download" class="download-btn">Download</a>
        </div>
    </div>
</body>
</html>